body {
  margin: 0
}

.homeBody {
  /* background-image: url(unnamed.png); */
  /* background-repeat: no-repeat; */
  height: 100vh;
}

.overlay {
  /* background-color: rgba(0, 0, 0, 0.8); */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}